body{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	padding:10px;
	margin:0px;
	background-color:#EEEEEE;
}

nav{
	display:block;
	margin:0px;
	background: white;
	border-bottom:1px solid grey;
	color:grey;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	overflow:hidden;
}

nav a{
	color:grey;
	text-decoration: none;
}

nav ul{
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	list-style-type:none;
	margin:0px;
}

nav li{
	max-width:400px;
	font-size:1.5em;
	max-height:3em;
	text-align:center;
	padding:10px;
	margin:0px;
	text-transform:uppercase;
	float:left;
}

nav li.right:hover{
	background-color:#3B5998;
	color:white;
	border-radius:10px;
	transition: background-color 1s, color 1s;
}

nav li.logo{
	left:47%;
	position:absolute;
	border-left:0px;
	overflow:visible;
}

nav li.right{
	max-width:150px;
	float:right;
	font-style:normal;
}

img.logo{
	width:80px;
	height:80px;
}

img.fb{
	height:1.5em;
	width:1.5em;
}

.main{
	margin:0px;
	padding:10px;
	background-color:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.hidden{
	display:none;
}