body{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	margin:10px;
	background-color:#0C153B;
}

.title{
	background-color:white;
	font-size:larger;
	padding:0px;
	margin:0px;
	text-align: center;
	color:grey; 
	border-bottom: 1px solid grey;
	text-transform:uppercase;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

nav{
	height:50px;
	margin:0px;
	background-color:grey;
	color:white;
	vertical-align:top relative;
}

nav ul{
	vertical-align:middle;
	list-style-type:none;
	overflow:hidden;
	margin:0px;
}

nav li{
	width:100px;
	margin:0px;
	display:block;
	text-align: center;
	text-transform:uppercase;
	float:right;
	border-left: 1px solid white;
}

nav li.logo{
	width:50px;
	border-left:0px;
}

nav li.logo:hover{
	background-color:grey;
}

nav li:hover{
	background-color:#1E328C;
}

img.logo{
	height:50px;
	width:50px;
	float:center;
	z-index: 10;
}

.main{
	margin:0px;
	padding:10px;
	background-color:white;
	height:400px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}