body{
	padding:10px;
	margin:0px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	background-color:#EEEEEE;
	background:url('/images/senate.png') center center fixed no-repeat;
	background-size:cover;
}

a{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-decoration:none;
	color:#3B5998;
}

nav{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	z-index:10;
	display:block;
	margin:0px;
	background: #777;
	border-bottom:1px solid grey;
	color:white;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	overflow:hidden;
	box-shadow: grey 2px 0px 2px;
}

nav a{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	color:white;
	text-decoration: none;
}

nav ul{
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	list-style-type:none;
	margin:0px;
}

nav li{
	max-width:400px;
	font-size:1.6em;
	max-height:3em;
	text-align:center;
	padding:8px;
	padding-left:10px;
	padding-right:10px;
	margin:0px;
	text-transform:uppercase;
	float:left;
}

nav li.right:hover{
	background-color:#3B5998;
	color:white;
	border-top-right-radius:10px;
	transition: background-color 0.5s, color 0.5s;
}

nav li.logo{
	left:47%;
	position:absolute;
	top:12px;
	border-left:0px;
	overflow:visible;
}

nav li.right{
	max-width:150px;
	float:right;
	font-style:normal;
}

.menu_div{
	box-shadow: grey 2px 0px 2px;
	display: block;
	background: white;
	border-radius: 0px;
	padding: 0px;
}

.menu_div ul{
	list-style-type: none;
	z-index: 8;
}

.menu_div li{
	float: left;
	font-size: 1em;
}

.menu_div li:hover{
	background-color: #3B5998;
	color: white;
	transition: background-color 0.5s, color 0.5s;
}

.menu_div a{
	color: black;
}

img.logo{
	position:absolute;
	top:0px;
	width:80px;
	height:80px;
	z-index:20;
}

.main{
	z-index:5;
	margin:0px;
	padding:10px;
	background-color:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	opacity:0.8;
	box-shadow: grey 2px 2px 2px;
}

.hidden{
	display:none;
}

.button{
	background:url('/images/americanflag.png') center center white no-repeat;
	background-size:cover;
	border:1px solid grey;
	border-radius:10px;
	font-weight:bold;
	color:black;
	text-transform:uppercase;
}

.button:hover{
	color:blue;
	transition: color 1s;
}

.notification, .uhoh{
	padding:10px;
	display:block;
	left:auto;
	right:auto;
	color:black;
	font-style:italic;
	border-radius:5px;
}

.notification{
	background-color:#aaccff;
}

.uhoh{
	background-color:#ffaaaa;
}

ul.sortable{
	list-style-type:none;
}

.name{
	top:auto;
	bottom:auto;
	font-size:1.2em;
}

img.pol{
	height:30px;
	width:24px;
}
