<div id="home">
<% if current_user.nil? %>
  <p>Fantasy Nuclear Football is a fantasy politics game. And it is awesome.</p>
  <p>Click "Login" above to log in with Facebook.</p>
<% else %>
  <p>Welcome, <%= current_user.firstname %>!</p>
<% end %>
<div id="title"><strong>Users playing:</strong></div>

<ul>
  <% @all_users.each do |one_user| %>
    <li><a href="/users/<%= one_user.id %>"><%= one_user.firstname %> <%= one_user.lastname %></a></li>
  <% end %>
</ul>	
</div>

<div id='timeline'>
<a class="twitter-timeline" href="https://twitter.com/cspan/members-of-congress" data-widget-id="385841310420049920">Tweets from @cspan/members-of-congress</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div id='cnnwidget'>
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('a6c23dc3-d09c-4c4b-824f-bb67fc055a10');</script>
</div>