<div id="home">
<% if current_user.nil? %>
  <p>Fantasy Nuclear Football is a fantasy politics game. And it is awesome.</p>
  <p>Click "Login" above to log in with Facebook.</p>
<% else %>
  <p>Welcome, <%= current_user.firstname %>!</p>
<% end %>
<div id="title"><strong>Users playing:</strong></div>

<ul>
  <% @all_users.each do |one_user| %>
    <li><a href="/users/<%= one_user.id %>"><%= one_user.firstname %> <%= one_user.lastname %></a></li>
  <% end %>
</ul>	
</div>
