<% if current_user.nil? %>
  <a href="/auth/facebook">Log in with Facebook</a>
<% else %>
  Welcome, <%= current_user.firstname %>!
  <a href='/logout'>Logout</a>
<% end %>

<div id="title">all users</div>

