<!doctype html>
<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="/images/favicon.ico" rel="icon">

	<meta charset="UTF-8">

	<title>Fantasy Nuclear Football</title>
</head>
<body>
	<nav>
		<ul>
			<a href="/">
				<li>
					Fantasy Nuclear Football
				</li>
			</a>
			<li class="logo">
				<a href="/">
					<img src="/images/fantasynuclearfootballshadow.png" class="logo">
				</a>
			</li>
			<% if current_user %>
			<a href="/logout">
				<li class="right">
					Logout
				</li>
			</a>
			<% else %>
			<a href="/auth/facebook">
				<li class="right">
					Login <i class="icon-facebook-sign"></i>
				</li>
			</a>
			<% end %>
		</ul>
	</nav>
	<% if current_user %>
	<nav class="menu_div">
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/users/<%= current_user.id %>"><li>Profile</li></a>
			<a href="/teams/<%= current_user.teams.empty? ? "create" : current_user.teams.first.id %>"><li>My Team</li></a>
			<a href="/politicianslist"><li>Politicians</li></a>
		</ul>
	</nav>
	<% end %>
	<div class="main<%= ' login' if current_user %>">
		<%= yield %>
	</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
</html>
