<!doctype html>
<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="/images/favicon.ico" rel="icon">
	<meta charset="UTF-8">
	<title>Fantasy Nuclear Football</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				Fantasy Nuclear Football
			</li>
			<li class="logo">
				<img src="/images/fantasynuclearfootballshadow.png" class="logo">
			</li>
			<% if current_user %>
			<a href="/logout">
				<li class="right">
					Logout
				</li>
			</a>
			<% else %>
			<a href="/auth/facebook">
				<li class="right">
					Login <i class="icon-facebook-sign"></i>
				</li>
			</a>
			<% end %>
		</ul>
	</nav>
	<div class="main">		
		<%= yield %>
	</div>
</body>
</html>
