<h2>Politicians</h2>
<table>
	<tr>
		<td></td>
		<td>Politician Name</td>
		<td>Total Score</td>
	</tr>
	<% @politicians.each_with_index do |sleazeball, index| %>
	<% if index < 25 %>
	<tr>
		<td><span class="name"><img src="/images/mugshots_sm/<%= sleazeball.bioguide_id %>.jpg" class="pol"></span></td>
		<td><a href="politicians/<%= sleazeball.id %>"><%= sleazeball.info %></a></td>
		<td><%= sleazeball.total_score(1) %></td>
	</tr>
	<% end %>
	<% end %>
</table>