<%= @queried_team.name %>
<% unless @queried_team.politicians.nil? %>
<% @queried_team.politicians.each do |sleazeball| %>
<p><%= sleazeball.info %></p>
<% end %>
<% end %>  
<% if @access %>
<p>find player to add:</p>
<form method="post" action="/politicians/search">
  <textarea id="pol_name" name="pol_name"></textarea>
  <input type="hidden" name="user_id" value="<%= @queried_team.id %>" >
  <input id="button" type="submit" value="search for politicians">
</form>
<div id="politicianResults">

</div>
<% end %>
