<%= @queried_team.name %>
<p>find player:</p>
<form method="post" action="/politicians/search">
  <textarea name="politician"></textarea>
  <input class="button" type=submit value="search for politicians">
</form>
<div id="politicianResults">

</div>
