<h3><%= @queried_team.name %></h3>
<div id="team_members">
  <h4>Team Members:</h4>
  <ul>
    <% unless @queried_team.politicians.nil? %>
      <% @queried_team.politicians.each do |sleazeball| %>
        <li><%= sleazeball.info %></li>
      <% end %>
    <% end %>
  </ul>
</div>  

<% if @access %>
  <input type="text" id="filter_input" placeholder="Filter Politicians here">

  <ul>
    <% @politicians.each do |sleazeball| %>
      <li>
        <span class="name"><%= sleazeball.info %></span>
      </li>
    <% end %>
  </ul>

  <div id="politicianResults">
  </div>
<% end %>
